



    <!-- Bootstrap core CSS -->


    <!-- Custom styles for this template -->
    <!-- <link rel="stylesheet" href="styles/login.css"> -->



    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><i class="fa fa-bolt"></i></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="/">Home</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>




  <div id="hello">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 centered">
            <h1>TwitterSphere</h1>
            <h2>TWEETS AT YOUR TIPS</h2>
            <br>
            <a href='/auth/twitter' target="_self"><img class='twitterimg' src="/images/twitter_logo.png" alt="HTML tutorial" width="100px" height="100px"></a></p><br>
            <a href='/auth/twitter' target="_self">Sign in with Twitter</a>
          </div><!-- /col-lg-8 -->
        </div><!-- /row -->
      </div> <!-- /container -->
  </div><!-- /hello -->

  <div id="green">
    <div class="container">
        <div class="col-sm-6 centered">
          <h3> Please Sign In</h3>
          <form class="form" name="form" ng-submit="login(form)" novalidate>
            <div class="form-group">
              <label class='pull-left'>Email</label>
              <input type="text" name="email" class="form-control" ng-model="user.email" required>
            </div>

            <div class="form-group">
              <label class='pull-left'>Password</label>
              <input type="password" name="password" class="form-control" ng-model="user.password" required>
            </div>

            <div class="form-group has-error">
              <p class="help-block" ng-show="form.email.$error.required && form.password.$error.required && submitted">
                 Please enter your email and password.
              </p>
            </div>
            <button type="submit" class="btn btn-lg btn-primary"> Sign in </button>
          </form>
        </div>
        <div class="col-lg-6">
          <p id="lorem">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>

        <div class="row">
          <div class="col-sm-9">

            Not registered? <a href="/signup" class="text-center new-account">Create an account.</a>
          </div>
        </div>
      </div>
    </div>
  </div>



