
  <div ng-include="'partials/navbar'"></div>
  <!-- <img tag='logo' src="../../images/twitter_logo.png"> -->

  <div class="jumbotron">
    <div class="messages">
      <ul id="tweet-messages" class="list-group">
        <li ng-repeat="message in tweets" class="tweets list-group-item animated fadeIn"><strong>{{message.user.name}} -</strong> {{message.text}}<br>
          <i><b>--{{message.user.location}}</b></i>
        </li>
      </ul>
    </div>
  </div>
   <div class="col-lg-6">
      <div class="input-group">
          <input type="text" class="form-control" ng-model="phrase">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="getTweets(phrase)">Go!</button>
            <button class="btn btn-default" type="button" ng-click="endTweets()">End!</button>
          </span>
      </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
  </div><!-- /.row -->
  <div class="container"></div>
  <canvas id='globe' width='500' height='500'></canvas>
  <script src="scripts/d3globe.js" ></script>
  <div class="jumbotron">
    <div class="messages">
      <ul id="tweet-messages" class="list-group">
        <li ng-repeat="friend in followers" class="list-group-item">
          {{friend.name}}
        </li>
      </ul>
    </div>
  </div>

